 .list-inline {
    background-color: black;
    color: cornflowerblue;
    font-size: 32px;
  }
 
#signage {
    text-decoration-line: underline;
}

.button {
    color: lightgreen;
}

 #weather-dash {
    height: 400px;
    width: 400px;
    
}