 .list-inline {
    background-color: black;
    color: cornflowerblue;
    font-size: 32px;
  }
 
#signage {
    text-decoration-line: underline;
    text-shadow:magenta 1px 1px;
}

#menu {
    text-shadow: magenta 1px 1px;
}

.button {
    color: lightgreen;
}

 #weather-dash {
    padding-top: 10px; 
    height: 400px;
    width: 600px;
    
}
 /* #employee-pic {
     padding-top: 10px;
     height: 400px;
     width: 600px;
 } */

 #hockey-pic {
     padding-top: 10px;
     height: 400px;
     width: 600px;
 }

 #team-pic {
     padding-top: 10px;
     height: 400px;
     width: 600px;
 }

 #fitness-pic {
     padding-top: 10px;
     height: 400px;
     width: 600px;
 }

 #note-pic {
     padding-top: 10px;
     height: 400px;
     width: 600px;
 }